version: '3.1'
services:
  importapp:
    container_name: data-import-container
    image: data-import-image
    build: ./
    ports:
      - "8080:8080"
    depends_on:
      - pg
  searchapp:
    container_name: data-search-container
    image: data-search-image
    build: /Users/vukpejic/Desktop/rbt/data-search
    ports:
      - "8081:8081"
    depends_on:
      - pg
  pg:
    image: postgres
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_PASSWORD=sofija01
      - POSTGRES_USER=postgres
      - POSTGRES_DB=userDB